*{
    box-sizing: border-box;
    color: white;
    list-style-type: none;
    text-decoration: none;
}

body{
    background-image: url("../images/background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

.whole-page{
    background-color: rgb(32,37,57);
    border: 2px solid black;
    border-radius: 20px;
    margin: 55px 140px;
    padding: 15px 60px;
}

.logo-name{
    width: 40%;
    float: left;
    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    /* margin-right: 300px; */
}

.nav-link ul li{
    float: left;
    /* display: inline-block; */
}

.nav-link a{
    padding: 10px;
    border-radius: 20px;
}

.nav-link a:hover{
    background-color: red;
}

.nav-link li:last-child{
    border: 1.5px solid white;
    border-radius: 20px;
}

.content{
    width: 100%;
    margin-top: 70px;
    clear: both;
}

.left-content{
    width: 55%;
    float: left;
}

.right-content div{
    width: 45%;
}

.right-content img{
    width: 310px;
    height: 350px;
}

.p1{
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

.text-special{
    font-size: 50px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
}

.text-color-change{
    color: rgb(114, 133, 139);
}

.text-home-indent{
    text-indent: 15px;
}

.text-cert-indent{
    text-indent: 5px;
}

.link-bottom ul li{
    display: inline-block;
}

.link-bottom{
    /* background-color: rgba(59, 58, 58, 0.514); */
    border-radius: 15px;
    padding: 0;
    /* margin-right: 138px; */
}

.link-bottom a{
    color: rgba(255, 255, 255, 0.918);
    padding: 10px 20px;
}

.link-bottom a:hover{
    background-color: red;
    border-radius: 15px;
}


.link-bottom li:first-child{
    padding: 10px 0px;
    border-bottom: 2px solid red;
}

.link-bottom li:last-child{
    background-color: rgb(223, 28, 28);
    border-radius: 15px;
    padding: 10px 0;

}

@media only screen and (max-width: 768px){
    .logo-name{
        width: 100%;
    }
    .whole-page{
        width: 100%;
        margin: 0;
        padding: 15px;
    }
    .content{
        margin-top: 0;
    }
    .left-content{
        width: 100%;
    }
}